.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  border: 1px solid var(--container-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  margin: 3rem 0;
  min-width: 95%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}


