.card {
    position: relative;
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
    margin: 0.1em;
    padding: 0.1em;
    cursor: pointer;

    .image {
        margin-right: 1em;
    }
    .info {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 0.8rem;
            font-weight: 900;
        }
        .in_stock {
            position: absolute;
            right: 0;
            bottom: 0;

            .true, .false {
                padding: 0.1em;
                font-size: 0.7em;
            }
            .true {
                background-color: green;
                color: white
            }
            .false {
                background-color: yellow;
            }
        }
        .price {
            background-color: lightyellow;
            color: red;
            border-bottom-left-radius: 30%;
            font-weight: 900;
            font-size: 1.2rem;
            padding: 0.2rem;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}