.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 500px) {
        flex-direction: row;
    }

    .image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 95%;
        }
        @media (min-width: 500px) {
            flex: 1;
        }
    }

    .info {
        flex: 1;

        .title {
            margin: 0.5em ;
            padding: 1em;
            text-align: center;
            font-weight: bold;
        }
        .pay {
            margin: 0.5em 0;
            display: flex;
            justify-content: space-between;

            .buy {
                padding: 0.5em;
                background-color: black;
                color: white;
                border-bottom-right-radius: 15%;
                font-weight: 900;
                cursor: pointer;
            }
            .in_cart {
                padding: 0.5em;
                background-color: green;
                color: white;
                border-bottom-right-radius: 15%;
                font-weight: 900;
                cursor: pointer;
            }
        }

        .code {
            padding: 0.5em;
            background-color: greenyellow;
            margin: 0.5em 0;
            display: flex;
            justify-content: space-between;
        }

        .price {
            padding: 0.2em;
            background-color: lightyellow;
            border-bottom-left-radius: 30%;
            font-weight: 900;
            font-size: 1.5rem;
            color:red;
        }

        .params {
            margin: 0.5em 0;
        }

        .stocks {
            margin: 0.5em 0;
        }
    }
}