.grid {
    position: relative;
    border: 1px solid springgreen;
    display: flex;
    flex-direction: column;
    margin: 0.3em 0;

    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    }

    .card  {
        display: flex;
        align-items: center;
        cursor: pointer;

        .delete {
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid black;
            padding: 0.1em;
            cursor: pointer;
        }

        .image {
            border: 1px solid darkslategrey;
            padding: 0.2em;
            margin-right: 0.5em;
            img {
                width: 5em;
                height: 5em;
            }
        }

        .info {
            padding-right: 1em;
            display: flex;
            flex-direction: column;
            width: 100%;

            .title {
                font-weight: 700;
                color: gray;
            }
            .code {
                display: flex;
                justify-content: space-between;
                color: gray;
                font-size: 0.8rem;
                font-weight: 800;
                .vendor {
                    color: darkorange;
                }
                .barcode {
                    color:tan;
                }
            }
        }

    }
    .buy {
        margin: 0 0.3em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 600px) {
            width: 8em;
            flex-direction: column;
            margin-left: auto;
        }

        .price {
            color: red;
            font-weight: 900;
            font-size: 0.7rem;
        }
        .qty{
            span {
                cursor: pointer;
            }

            input {
                width: 5em;
                border: none;
                outline: none;
                text-align: center;
                font-weight: 900;
            }
        }
        .total_price {
            color: red;
            font-weight: 900;
            font-size: 0.9rem;
        }
    }
} 