.panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #777;
    color: white;

    .filter {
        flex: 2;
        background-color: #222;
        font-weight: 900;
        border-radius: 0  50% 50% 0;

        span {
            cursor: pointer;
            padding: 0 2em 0 0;
            border: 2px solid white;
            background-color: green;
            border-radius: 0  50% 50% 0;
        }
    }
    .count {
        text-align: center;
        flex: 1;
    }
}