.card {
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
    margin: 0.1em;
    padding: 0.1em;
    cursor: pointer;

    .image {
        margin-right: 1em;
    }
    .arrow {
        margin-left: auto;
    }
    .title {
        font-weight: 900;
    }
}