.card {
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .image {
        flex: 1;
        margin-right: 0.3em;
    }
    .info {
        flex: 8;

        .zero {
            color: red;
        }
        .title {
            font-size: 0.8rem;
        }
        .code {
            display: flex;
            align-items: flex-end;
            font-size: 0.8rem;

            .vendor {
                flex: 1;
                color: green;
            }
            .barcode {
                flex: 1;
                color:goldenrod;
            }
        }
    }
    .price {
        margin-left: 0.3em;
        flex: 1;
        color: red;
    }
}