.main {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-weight:800;
    padding: 0.5rem ;
}
