.main {
    position: fixed;
    z-index: 900;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 0.5rem 0;

    .home, .cart, .search, .catalog {
        cursor: pointer;
    }

    .cart {
        position: relative;

        .count {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: 900;
            color: white;
        }
    }
}